<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="nav-container">
      <div class="nav-brand">
        <h3>家庭帳本</H1>
      </div>
      {{#if isLoggedIn}}
      <div class="nav-login">
        <a href="/users/logout">登出</a>
      </div>
      {{else}}
      <div class="nav-login">
        <a href="/users/login">登入</a>
      </div>
      {{/if}}

    </div>
  </header>


  {{{body}}}
</body>

</html>