<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="nav-container">
      <div class="nav-brand">
        <h3>家庭帳本</H1>
      </div>
    </div>
  </header>


  {{{body}}}
</body>

</html>