<div class="login-container">
  <h1 class="login-title">帳號註冊</h1>
  <form action="/users/register" method="post">
    <div class="name-content">
      <label for="name">姓名:</label>
      <input type="text" name="name" id="name" value="{{name}}">
    </div>
    <div class="email-content">
      <label for="email">信箱:</label>
      <input type="email" name="email" id="email" value="{{email}}">
    </div>
    <div class="password-content">
      <label for="password">密碼:</label>
      <input type="password" name="password" id="password" value="{{password}}">
    </div>
    <div class="confirm-password-content">
      <label for="confirmPassword">確認密碼:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" value="{{confirmPassword}}">
    </div>
    <button class="login-buttom" type="submit">註冊</button>
  </form>
</div>