*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 0;
}

/* header section */

header {
  background: rgba(209, 204, 204, 0.89);
}

.nav-container {
  height: 60px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand>h3>a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.nav-login>a,
.nav-logout>a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: orange;
  background: white;
  padding: 3px 10px;
  border: 1px black solid;
  border-radius: 7px;
}

.navbar {
  background: white;
}

/* category section */

.dropdown {
  width: 100%;
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  background-color: white;
  color: black;
  width: 550px;
  text-align: start;
}

.btn-secondary:hover {
  background-color: white;
  color: black;
}

.dropdown .btn-secondary:active {
  background-color: white !important;
  color: black !important;
}

.dropdown>button::after {
  margin-left: 480px;
}

.dropdown-item:active {
  background: white;
  color: black;
}

.dropdown-menu {
  width: 550px;
}

/* amount-section */
.amount-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-wrapper>h5,
.amount-wrapper>h1 {
  margin: 0 15px;
}

.amount-wrapper>h5 {
  font-weight: 600;
}

.amount-wrapper>h1 {
  font-size: 4rem;
  font-weight: 900;
  color: rgba(255, 136, 0, 0.692);
}

/* record-section */
.record-wrappser {
  width: 550px;
  margin: 2.5rem auto;
}

.record-wrappser .card {
  border-radius: 0;
  border: 0;
  padding: 0.25rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.category-img {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img>i {
  font-size: 2.5rem;
  color: #bbe6ee;
}

.record-content {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-row: 1fr 1fr;
}

.record-title {
  font-size: 1.25rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

.record-date {
  font-size: 0.85rem;
  grid-column: 1/2;
  grid-row: 2/3;
}

.record-amout {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  text-align: center;
}

.record-wrappser .card>a {
  position: absolute;
  right: -100px;
  top: 12px;
  text-decoration: none;
  color: black;
}

.record-wrappser .card>form {
  position: absolute;
  top: 10px;
  right: -150px;
}

.record-wrappser .card>form>button {
  background: white;
  border: 0;
}

.create-container {
  display: flex;
  justify-content: center;
}

.create-container>a {
  background-color: #ec673e;
  color: white;
  text-decoration: none;
  padding: 0.75rem 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

/* LOGIN PAGE */
.login-container {
  width: 75%;
  margin: 3rem auto;
}

.login-title {
  text-align: center;
}

.login-container>form {
  width: 60%;
  margin: 0 auto;
}

.login-container>form>div {
  margin: 1rem 0;
}

.login-container>form>div>label {
  font-size: 1.25rem;
}

.login-container>form>div>input {
  width: auto;
}

.login-buttom {
  margin: 0;
  padding: 0 20px;
  color: white;
  border-radius: 5px;
  background-color: #ec673e;
}

/* create-record-page */
.edit-container,
.create-container {
  display: flex;
  width: 30%;
  margin: 0 auto;
}

.create-container .row,
.edit-container .row {
  width: 100%;
}

.create-container .row>form>div,
.edit-container .row>form>div {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.create-container .row>form>div>p,
.edit-container .row>form>div>p {
  width: 25%;
  font-size: 0.75rem;
}

.create-container .row>form>div>h3,
.edit-container .row>form>div>h3 {
  width: 75%;
  text-align: center;
}

.create-container .row>form>div>select,
.create-container .row>form>div>input,
.edit-container .row>form>div>input,
.edit-container .row>form>div>select {
  width: 70%;
}

.create-container .row>form>div>button,
.edit-container .row>form>div>button {
  width: 70%;
  border: 1px black solid;
}